$icon-font-path: "../../../vendor/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../../vendor/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

h1 {
  padding-top: 2em;
}

.glyphicon {
  font-size: 16px;
}


